@charset "utf-8";
/* Genel sayfa stil ayarları */
body {
    font-family: Arial, sans-serif; /* Metin fontu */
    background-color: #f2f2f2; /* Gri arkaplan */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Ana içerik container'ı stil ayarları */
.container {
    background-color: #fff; /* Beyaz arka plan */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}

/* Başlık stil ayarları */
h1 {
    color: #007bff; /* Mavi renk */
    text-align: center;
    margin-bottom: 20px;
}

/* Buton stil ayarları */
button {
    background-color: #007bff; /* Mavi renk */
    color: #fff; /* Beyaz yazı rengi */
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Arka plan rengi geçişi */
}

/* Buton hover stil ayarları */
button:hover {
    background-color: #0056b3; /* Koyu mavi renk */
}

/* Liste stil ayarları */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

/* Liste elemanı stil ayarları */
li {
    background-color: #fff; /* Beyaz arka plan */
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Gölge efekti */
    transition: box-shadow 0.3s ease; /* Gölge geçişi */
}

/* Liste elemanı hover stil ayarları */
li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Büyük gölge efekti */
}

/* Bilgi container'ı stil ayarları */
.info-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Bilgi container başlığı stil ayarları */
.info-container h2 {
    color: #007bff; /* Mavi renk */
    margin-bottom: 10px;
}

/* Bilgi container paragraf stil ayarları */
.info-container p {
    margin-bottom: 10px;
}

/* Kart stil ayarları */
.info-container .card {
    display: inline-block; /* Kartları yan yana yerleştir */
    width: 300px; /* Kart genişliği */
    height: 200px; /* Kart yüksekliği */
    margin-right: 20px; /* Sağ kenar boşluğu */
    margin-bottom: 20px; /* Alt kenar boşluğu */
    vertical-align: top; /* Dikey hizalama (üst) */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Gölge efekti */
    border-radius: 5px; /* Kenar yuvarlaklığı */
    overflow: hidden; /* İçeriği taşma durumunda gizle */
}

/* Son kartın sağ kenar boşluğunu sıfırla */
.info-container .card:last-child {
    margin-right: 0;
}

/* Kart içeriği stil ayarları */
.info-container .card .card-body {
    padding: 10px; /* İçerik kenar boşluğu */
    background-color: #f9f9f9; /* Kart arka plan rengi */
}

/* Kart içeriğindeki resim stil ayarları */
.info-container .card img {
    width: 100%; /* Resim genişliği */
    height: 100%; /* Resim yüksekliği */
    object-fit: cover; /* Resim boyutunu koru, taşma durumunda kırp */
}
